* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Outfit", sans-serif;
    background-color: hsl(228, 45%, 44%);
}

main {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
    width: 20%;
    height: 55vh;
    padding: 10px 10px;
    border-radius: 20px;
    gap: 15px;
}

main img {
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: block;
    width: 100%;
    max-width: 300px;
    min-width: 200px;
}

main h1 {
    font-size: 1.2rem;
    font-weight: 700;
}

main p {
    font-size: 15px;
    font-weight: 400;
}

@media (max-width: 768px) {
    main {
        width: 52%;
    }
}

@media (max-width: 373px) {
    main {
        width: 90%;
    }
}

main img {
    border-radius: 10px;
    display: block;
    width: 100%;
    max-width: 300px;
    min-width: 200px;
}

main h1 {
    font-size: 1.2rem;
    font-weight: 700;
}

main p {
    font-size: 15px;
    font-weight: 400;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}